/*************************
* CIRCLE STUDIO srl, 2015
**************************/ 

@font-face {
    font-family: IntroHead;
    src: url('fonts/IntroHeadBUC-Base.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/IntroHeadBUC-Base.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/IntroHeadBUC-Base.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/IntroHeadBUC-Base.svg#svgFontName') format('svg'), /* Legacy iOS */
       url(fonts/IntroHeadBUC-Base.otf) format('opentype');
}

@font-face {
    font-family: IntroScript;
    src: url('fonts/IntroScriptB-H1Base.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/IntroScriptB-H1Base.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/IntroScriptB-H1Base.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/IntroScriptB-H1Base.svg#svgFontName') format('svg'), /* Legacy iOS */
       url(fonts/IntroScriptB-H1Base.otf) format('opentype');
}

html, body {
    font-size: 100%; /* Raffaele */
    background: #FFF;
    font-family: 'IntroHead';
    font-weight: 300;
    /*height: 100%;*/
}

p {
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
}

p.white, div.white {
    color: #fff;
}

.intro {
    font-family: 'IntroHead';
}

.lato {
    font-family: 'Lato';
    font-size: .8em;
}

.introScript {
    font-family: 'IntroScript';
}

a.introScript, a.introScript:hover {
    font-family: 'IntroScript';
}

#hidden {
    display: none;
}

.back-to-top {
    position: fixed;
    right: 5%;
    top: 50%;
    margin-top: -1em;
    display: none;
    z-index: 999999;
}

/* Preloader */

#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#FFF; /* change if the mask should have another color then white */
    z-index:9999999; /* makes sure it stays on top */
}

.logo-splash {
    position: absolute;
    width: 80%;
    max-width: 200px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    top: 40%;
}

.logo-splash img {
    width: 100%;
}

.pace .pace-progress {
  background: #c46a54;
  position: fixed;
  z-index: 99999999;
  top: 50%;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}

.cursor-hand {
    cursor: pointer;
}

.clear {
    clear: both;
}

.zero .col-xs-1, .zero .col-sm-1, .zero .col-md-1, .zero .col-lg-1, .zero .col-xs-2, .zero .col-sm-2, .zero .col-md-2, .zero .col-lg-2, .zero .col-xs-3, .zero .col-sm-3, .zero .col-md-3, .zero .col-lg-3, .zero .col-xs-4, .zero .col-sm-4, .zero .col-md-4, .zero .col-lg-4, .zero .col-xs-5, .zero .col-sm-5, .zero .col-md-5, .zero .col-lg-5, .zero .col-xs-6, .zero .col-sm-6, .zero .col-md-6, .zero .col-lg-6, .zero .col-xs-7, .zero .col-sm-7, .zero .col-md-7, .zero .col-lg-7, .zero .col-xs-8, .zero .col-sm-8, .zero .col-md-8, .zero .col-lg-8, .zero .col-xs-9, .zero .col-sm-9, .zero .col-md-9, .zero .col-lg-9, .zero .col-xs-10, .zero .col-sm-10, .zero .col-md-10, .zero .col-lg-10, .zero .col-xs-11, .zero .col-sm-11, .zero .col-md-11, .zero .col-lg-11, .zero .col-xs-12, .zero .col-sm-12, .zero .col-md-12, .zero .col-lg-12 {
	padding:0 !important;
}

ul {
    padding: 0;
    margin: 0;
}
/* SKELETON LAYOUT */

/* NAV MENU */

.nav>li>a:hover, .nav>li>a:focus{
    color: rgba(229, 57, 70, 1);
    background: none !important;
}

#navbar{
    text-align:center;
}

.h0 {
    margin-top:-150px;
    opacity: 0;
    -moz-transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
    z-index: 9;
}

.navbar .container-fluid {
	color:white;
	width:100%;
        height: 100%;
	overflow:visible !important;
}

ul.navbar-nav {
    line-height: 90px;
    margin: auto;
    text-align: center;
}

/* override bootstrap */
.nav>li>a {
    padding: 10px 5px;
}

ul.navbar-right {
    display: table;
    height: 90px;
}

ul.navbar-right li {
    min-width: inherit !important;
    display: table-cell !important;
    vertical-align: middle;
    font-size: .7em !important;
    font-weight: 400;
}

ul.navbar-nav li {
    float: none;
    display: inline-block;
    font-weight: 300;
}

.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 0px;
}

.nav>li>a>img {
    height: 80px;
}

.navbar-nav span{
	text-transform: capitalize;
}

.navbar-nav>li>a {
    font-size: 1.3em;
    color: rgba(229, 57, 70, 1);
    
}

.navbar-brand {
    text-align:center;
    text-align:center;
}

.navbar-brand img{
	margin-left: auto;
	margin-right: auto;
	height: 50px;
}

.navbar-toggle .icon-bar {
	background-color: white;
}

#format, #la-facciamo-qui {
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#bufale {
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#affettati, #menu, #last {
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

#ricerca {
    display: block;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 100%;
}

.logo-grey {
    width: 30%;
    max-width: 180px;
    min-width: 140px;
    margin: 1em auto;
}

.down-arrow {
    position: fixed;
    bottom: 2em;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
    display: none;
}

.benvenuto {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    display: none;
}

.mozza-white {
    position: relative;
    display: block;
    margin: 3em auto;
    z-index: 10;
}

a.active-lang {
    color: #e33a49 !important;
}

.active a {
    color: #e33a49 !important;
}



/* /NAV MENU */


#row {
    position: relative;
    width: 100%;
    margin-bottom: -5px;
    overflow: hidden;
}

.header-wrapper {
    position: absolute;
    width: 100%;
    height: 7em;
    top: 0;
}

.header {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 7em;
    z-index: 99;
}

#haimaivisto {
    position: relative;
    margin: 1em auto;
    text-align: center;
    z-index: 10;
    padding: 0 15px !important;
}

.infolocale {
    position: relative;
    top: 0;
    margin: 3em auto;
    display: block;
    left: 0;
    right: 0;
    width: 100%;
}

.segnetti-white-l {
    position: relative;
    left: 0;
    width: 100%;
    top: -1em;
    margin-top: 50%; 
}

.segnetti-white-r {
    position: relative;
    right: 0;
    width: 100%;
    top: -1em;
    margin-top: 50%;
}

.vaiallostore {
    display: inline-block;
    border: 1px solid #c36957;
    padding: .5em;
    text-align: center;
}

#sliderhome .slidehome, #slider-small .slidesmall, #affettati .slidehome, #affettati li {
    height: 100%;
    background-size: cover;
    background-position: center;
}

#slider-small {
    width: 100%;
}

.full-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.full-content {
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /*float: left;*/
}

.section-content {
    padding-top: 80px;
}

.featured-section-content {
    padding-top: 180px !important;
}

.featured-image {
    width: 100%;
    border: 5px solid white;
}

.flex-viewport {
  padding: 0 !important;
}

.multicolumn2-nosep {
    margin: 4em auto;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    
    -webkit-column-rule: 0px; /* Chrome, Safari, Opera */
    -moz-column-rule: 0px; /* Firefox */
    column-rule: 0px;
}



/* /SKELETON LAYOUT */

/* HEADINGS */

.big {
    font-size: 3em;
}

.extrabig {
    font-size: 4em;
}

h1 {
    line-height: .8em;
}

h2, h3, h4 {
    font-family: 'IntroHead';
    text-align: left;
    color: #3e3d40;
    line-height: .8em;
}

h2.white, h3.white, h4.white {
    color: #fff;
}

.red {
    color: #c36957;
}

.background-red {
    background-color: #c36957;
}

.poster {
    position: relative;
    width: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    display: none;
}

.green {
    color: #bec2a1;
}

.white {
    color: white;
}

h1.featured-title {
    position: absolute;
    margin-top: 80px;
}

h1.fixed-center-title {
    position: fixed;
    left: 0;
    right: 0;
    margin: 90px auto 0 auto;
    text-align: center;
}

/* /HEADINGS */

/* FOOTER */

.footer-container {
    position: relative;
    bottom: 0;
    padding-top: 1em;
    text-align: center;
    z-index: 9999;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.footer {
    font-size: 0.8em;
    color: #bebebe;
    font-family: 'IntroHead';
    width: 100%;
    height: 5em;
    position: relative;
    z-index: 9999;
    display: table;
}

.footer-interne {
    font-size: 0.8em;
    color: #7F7F7F;
    font-family: 'IntroHead';
    width: 100%;
    background: #282828;
    position: relative;
    z-index: 9;
    display: table;
    padding: 2em 0;
}

.footer-interne a {
    color: #7F7F7F;
}

a.footer-link, a.footer-link:active, a.footer-link:hover, a.footer-link:visited {
    color: #7F7F7F;
}

a.lato, a.lato:active, a.lato:hover, a.lato:visited {
    font-family: 'Lato';
}

a.lato:hover, a:hover {
    color: #c46a54 !important;
}

.logo-footer {
    width: 90%;
    max-width: 200px;
    margin: .5em auto;
    display: block;
}

.footer-text {
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    bottom: .5em;
    margin: 0 auto;
    text-align: center;
    font-size: 0.8em;
    color: #999;
}

.footer-info-small {
    font-size: .8em;  
}

/* /FOOTER */

/* LINKS */

a.white, a.white:visited, a.white:active, a.white:hover {
    color: #fff;
    text-decoration: none;
}

a, a:visited, a:active, a:hover {
    color: #232323;
    font-family: 'IntroHead';
    text-decoration: none;
}

a.red, a.red:visited, a.red:active, a.red:hover {
    color: rgba(229, 57, 70, 1);
}

a.grey, a.grey:visited, a.grey:active, a.grey:hover {
    color: #7F7F7F;
}

a.empty {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
}

a.bold, a.bold:visited, a.bold:active {
    font-weight: 700;
}

a.bold:hover {
    text-decoration: underline;
}

a.red, a.red:visited, a.red:active, a.red:hover {
    color: rgb(229, 57, 70);
}


/* /LINKS */

.vertcenter-wrapper {
    display: table;
    height: 100%;
}

.vertcenter-content {
    display: table-cell;
    vertical-align: middle;
    padding: 0 1em;
}

.social-share-locations {
    margin: 0em auto;
    float: left;
}

.social-icon-location {
    float: left;
    margin: .5em;
}

/*#video {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
    bottom: 0;
    width: 100%;
}*/

#video {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    /* display: none; */
    z-index: 0;
    bottom: 0;
}

.play-button {
    background-image: url(../images/la-facciamo-qui.png);
    background-size: cover;
    background-color: transparent;
    border: 0;
    margin: 2em auto;
    position: relative;
}

.centrato {
    display: block;
    margin: 0 auto;
    top: 35%;
    left: 0;
    right: 0;
    float: none;
}

.restaurant-image {
    width: 100%;
}

.full-content {
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* float: left; */
}

.full-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.greenbg {
    background-color: #bdc2a5;
}

ul.services-list {
    position: relative;
    width: 100%;
    text-align: left;
    margin: 0 auto;
}

ul.services-list li.service-icon {
    display: inline-block;
    list-style: none;
    margin: 0em;
}

.service-title {
    color: #282828;
    text-align: left;
    font-family: 'IntroHead';
    font-size: 1em;
}

.separator {
    width: 100%;
    margin: 1em 0; 
}

.separator2 {
    width: 50%;
    margin: 1em 0;
    float: left;
}