/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
    
    body {
        font-size: .8em;
    }
    
    .benvenuto {
        height: 300px;
    }
    
    .ondine-hp {
        position: relative;
        z-index: 9;
        width: 100%;
        margin: 2em 0;
    }
    
    ul.navbar-nav {
        position: fixed;
        background: rgba(255, 255, 255, 0.9);
        margin: 0;
        z-index: 9999999;
        top: 0;
        left: 0;
    }
    
    .whiteback {
        background:none;
        padding: .25em .5em;
    }
    
    .mozza-white {
        width: 120px;
    }    
    
    .down-arrow {
        width: 30px;
    }
    
    ul.navbar-nav li {
        display: inline-block;
        margin: 0em 1em;
    }
        
    .navbar-collapse.collapse.in {
        background: black;
    }
    
    ul#nav-countries li, ul#nav-cities li, ul#nav-restaurants li, ul.subnav li {
        display: block;        
    }
    
    .home-image {
        width: 90%;
        margin-left: 5%;
        z-index: 10;
        position: relative;
    }
    
    .ondine {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        z-index: 0;
        width: 100%;
    }
       
    #header {
        width: 100%;
        height: 60px;
        position: absolute;
    }
    
    .navbar {
        border:none !important;
        margin-bottom: 0px !important;
        height: 60px;
        z-index: 999;
    }    
    
    .multicolumn2, .multicolumn2-nosep {
        margin: 4em auto;
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;

        -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
        -moz-column-gap: 0px; /* Firefox */
        column-gap: 0px;

        -webkit-column-rule: 0px solid #59483f; /* Chrome, Safari, Opera */
        -moz-column-rule: 0px solid #59483f; /* Firefox */
        column-rule: 0px solid #59483f;
    }
    
    .footer-info {
        font-size: .9em;  
    }

    .big {
        font-size: 2em;
    }
    
    .post-image {
        width: 100%;
    }
    
    iframe#maps {
        height: 250px;
    }
    
    .la-facciamo-qui {
        position: relative;
        left: 50%;
        width: 200px;
        height: 200px;
        margin-left: -100px;
        z-index: 99;
    }
    
    .benvenutoTitle {
        font-size: 5em;
    }
    
    .quote1 {
        margin: 0em;
    }

    .quote2 {
        position: relative;
        top: 30%;
        margin-right: 0em;
    }
    
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    body {
        font-size: .9em;
    }
    
    .down-arrow {
        width: 50px;
    }
    
    .whiteback {
        background: white;
        padding: .25em .5em;
    }
    
    .benvenuto {
        height: 400px;
    }
    
    .mozza-white {
        width: 150px;
    }
    
    .home-image {
        width: 80%;
        margin: 2em auto;
        position: relative;
        left: 0;
        right: 0;
        display: block;
        z-index: 1;
    }
    
    .ondine {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        width: 100%;
    }
    
    .la-facciamo-qui {
        position: relative;
        left: 0;
        z-index: 99;
        right: 0;
        margin: auto;
        width: 200px;
        height: 200px;
        display: block;
    }
    
    .ondine-hp {
        position: relative;
        z-index: 9;
        width: 100%;
        margin: 2em 0;
    }
    
    #header {
        width: 100%;
        height: 90px;
        position: absolute;
    }
    
    .post-image {
        width: 100%;
    }
   
    #slider-small ul.slides, #promo-slider ul.slides {
        height: 400px;
    }
    
    ul.navbar-nav li {   
        min-width: 50px;
        font-size: .9em;
    }
    
    .nav-locations {
        z-index: 999;
    }
    
    .multicolumn2 {
        margin: 4em auto;
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;

        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;

        -webkit-column-rule: 1px solid #59483f; /* Chrome, Safari, Opera */
        -moz-column-rule: 1px solid #59483f; /* Firefox */
        column-rule: 1px solid #59483f;
    }
    
    .footer-info {
        font-size: 1.2em;  
    }
    
    .big {
        font-size: 2em;
    }
    
    .benvenutoTitle {
        font-size: 6em;
    }
    
    iframe#maps {
        height: 300px;
    }
    
    .quote1 {
        margin: 2em;
    }

    .quote2 {
        position: relative;
        top: 60%;
        margin-right: 2em;
    }
       
}


@media (min-width: 768px) and (orientation: portrait) {
    
    ul.navbar-nav li {   
        min-width: 50px;
        font-size: .9em;
    }
      

}



/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
    body {
        font-size: 1em;
    }
    
    .benvenutoTitle {
        font-size: 8em;
    }
    
    .benvenuto {
        height: 300px;
    }
    
    .mozza-white {
        width: 200px;
    }
    
    .big {
        font-size: 2em;
    }
    
    #slider-small ul.slides, #promo-slider ul.slides {
        height: 500px;
    }
    
    ul.navbar-nav li {
        min-width: 50px;
        font-size: 1em;
    }
    
    .la-facciamo-qui {
        position: relative;
        left: 0;
        z-index: 99;
        right: 0;
        margin: 1em auto;
        width: 250px;
        height: 250px;
        display: block;
    }
    
    iframe#maps {
        height: 350px;
    }
    
    .quote1 {
        margin: 3em;
    }

    .quote2 {
        position: relative;
        top: 70%;
        margin-right: 3em;
    }
     
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
    ul.navbar-nav li {   
        min-width: 50px;   
    }
    
    .la-facciamo-qui {
        position: absolute;
        left: 0;
        z-index: 99;
        right: 0;
        margin: auto;
        width: 250px;
        height: 250px;
        top: 0;
        bottom: 0;
    }
    
    .big {
        font-size: 3em;
    }
    
    iframe#maps {
        height: 450px;
    }
    
    
    .quote1 {
        margin: 3em;
    }

    .quote2 {
        position: relative;
        top: 80%;
        margin-right: 3em;
    }
   
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
    
    ul.navbar-nav li {   
        min-width: 50px;   
    }
    
    .la-facciamo-qui {
        position: relative;
        left: 0;
        z-index: 99;
        right: 0;
        margin: 1em auto;
        width: 300px;
        height: 300px;
        display: block;
    }
   
}


/* iPhone 5+5S P+L */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
{
    
}

/* iPhone 6plus P+L */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px)
{

}

/* iPhone 6 P+L */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px)
{

}
