/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-ago-2014, 17.58.33
    Author     : circlemac2
*/

body {
    background-color: #f5f5f5;
    font-family: 'Lato';
    font-size: 1em;
    color: #232323;
}

p {
    font-weight: 300;
    font-size: 0.95em;
}

.center50 {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50%;
    text-align: justify;
}

.top-left {
    position: absolute;
    left: 0;
    top: 20%;
}

h1.grigione {
    padding: 0px 10px;
    font-family: 'Lato';
    font-size: 3.2em;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    background-color: #232323;
    padding: 0 10px;
    margin: 5px auto 5px auto;
    color: white;
}

h1.label-green, h2.label-green {
    color: white;
    padding: 0.3em;
    background-color: #99a801;
    display: inline-block;
    line-height: 1em;
    margin: 0;
}

h4.label-green {
    color: white;
    padding: 0.3em;
    background-color: #99a801;
    display: inline-block;
    line-height: 1em;
    margin: 0;
    font-size: 1em;
}

.button {
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 7px 14px;
    border: 1px solid transparent;
    border-radius: 2px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    white-space: normal;
    font-style: normal;
    font-size: 1em;
    font-weight: 700;
    font-family: "Lato";
    cursor: pointer;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.footer {
    font-size: 0.7em;
    color: #ebebeb;
    font-family: 'Lato';
}

.footer-container {
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 10000000;
    display: block;
}

.error {
    margin: 1em 0;
    color: red;
    font-size: 0.9em;
}

.signup_wrap {
    background: #ebebeb;
    color: #232323;
    position: absolute;
    text-align: center;
    top: 35%;
    left: 48%;
    width: 320px;
    margin-left: -160px;
    padding: 1em;
}

.signup_wrap label {
    position: relative;
    display: inline-block;
    width: 7em;
    text-align: left;
}


.center {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

.login-logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 10%;
}

.customer-logo {
    position: relative;
    left: 15%;
    margin: 0 auto;
    margin-top: 1em;
    width: 70%;
}

.user-icon {
    float: left;
    margin: 0 0.5em 0 0;
}

nav {
    position: fixed;
    margin: 0 auto;
    left: 0;
    width: 25%;
    min-width: 160px;
    max-width: 240px;
    height: 100%;
    background: #232323;
    z-index: 999999;
}

nav ul {
    width: 100%;
    text-align: center;
    clear: both;
    margin-top: 2em;
}

nav ul li {
    color: #a9a9a9;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.1em;
    padding: 0 0em 0.5em 0;
    margin: 0.5em 1em;
    text-align: left;
}

nav ul li a {
    color: #a9a9a9;
    text-decoration: none;
}

nav ul li.active a {
    color: #95A56E;
}

.content {
    position: relative;
    width: 90%;
    left: 5%;
    top: 10%;
}

.container {
    position: absolute;
    height: 100%;
}

a.white, a.white:visited, a.white:active, a.white:hover {
    color: #fff;
    font-family: 'Lato';
    text-decoration: none;
}

.login-info {
    color: #ebebeb;
    font-size: 0.85em;
    margin: 0 1em;
    clear: both;
}

.clear {
    clear: both;
}


/* GOOGLE MAPS */

#map-canvas {
    position: relative;
    height: 500px;
    margin: 2em 0;
    padding: 0px
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  #pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
  }

  #pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;  /* Regular padding-left + 1. */
    width: 401px;
  }

  .pac-container {
    font-family: Roboto;
  }

  #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }

  #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }


/* GOOGLE MAPS */